* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Space Mono", monospace;
    color: #1E1E1E;
}

body,
.contact-us-page {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 80px);
    justify-content: center;
}

header {
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    border-bottom: 1px solid #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

a {
    text-decoration: none;
}

.logo h3:hover,
.listen-on h3:hover {
    color: rgb(93, 93, 93);
    text-decoration: underline;
}

.logo {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 20px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav i {
    display: none;
    visibility: collapse;
}

.logo h3,
nav h3 {
    font-size: 1.3rem;
    padding: 10px;
}

nav h3 {
    background-color: #1893F8;
    color: white;
    border-radius: 5px;
}

nav h3:hover {
    color: #1E1E1E;
    background-color: #5db4fc;
}

main {
    grid-column: 1/span 12;
    grid-row: 2/span 14;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-image {
    width: 100%;
    height: 30%;
    margin: 0 50px;
    background-image: url("./Images/index-image.png");
    background-size: cover;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e91;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opening-image h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 20px;
}

.pod-details {
    width: 100%;
    height: 70%;
    display: flex;
}

#about {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#about p {
    padding: 0 20px;
}

#second-par,
#third-par,
#less {
    display: none;
}

#less, 
#more {
    color: #1893F8;
}

#less:hover,
#more:hover {
    color: #71bfff;
}

#about img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin-top: -100px;
}


.pod-episodes {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

.pod-episodes h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.pod-episodes p {
    margin-bottom: 40px;
}

.pod-episodes iframe {
    margin-top: 20px;
    min-height: 500px;
}

.listen-on {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 200px;
}

.listen-on h2 {
    font-size: 1.5rem;
}

.listen-on a {
    display: flex;
    align-items: center;
}

.listen-on img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

footer {
    grid-column: 1/span 12;
    grid-row: 16/span 3;
    background-color: #F4F5F7;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-top: 30px;
}

footer ul {
    display: flex;
    width: 150px;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

footer p {
    font-size: .8rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 1024px) {

    body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(25, 80px);
    }

    body p, 
    body span {
        font-size: 1rem;
    }

    main {
        grid-column: 1/span 12;
        grid-row: 2/span 21;
    }

    footer {
        grid-column: 1/span 12;
        grid-row: 23/span 3;
    }

    header img {
        visibility: collapse;
        display: none;
    }

    header h3,
    .logo h3 {
        font-size: 1rem;
    }

    .pod-details {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        margin-top: -100px;
        padding:0 30px;
    }

    #about {
        width: 100%;
        height: 30%;
        align-items: center;
    }

    #about img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .pod-episodes {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .listen-on {
        width: 100%;
        height: 20%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .listen-links {
        display: flex;
        width: 400px;
        justify-content: space-between;
    }

    .listen-on h2 {
        width: 100%;
        height:30%;
        margin: 0;
        padding:0;
        text-align: center;
    }

    .listen-on div {
        height:30%;
    }

    footer p {
        font-size: .8rem;
    }

    .description {
        height: 360px !important;
    }

}

@media only screen and (max-width: 564px) {
    body p,
    body span,
    body a {
        font-size: 13px;
    }

    body h1,
    body h2 {
        font-size: 20px;
    }

    #about img {
        width: 50%;
        height: auto;
    }
   
    .listen-on {
        margin-bottom: -20px;
    }

    .listen-on h3 {
        display: none;
        visibility: collapse;
    }

    .listen-links {
        width: 100px;
        justify-content: space-evenly;
    }

    nav h3 {
        display: none;
        visibility: collapse;
        background-image: url("");
    }

    nav i {
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
    }
    
    .logo h3 {
        font-size: 14px;
    }

    .pod-episodes {
        margin-bottom: 30px;
    }

    footer p {
        font-size: 10px;
    }

    .subline {
        font-size: 1.2rem;
    }

    .contact-img h2 {
        font-size: 1rem !important;
    }

    .contact-img h3 {
        font-size: .7rem !important;
    }

}

/* Contact us */

main h1 {
    font-size: 3rem;
    margin-top: 80px;
}

.contact-img {
    width: 100%;
    height: 20%;
    margin: 0;
    background-image: url("./Images/contact-us.png");
    background-position: center;
    background-size: cover;
}

.contact-img h2 {
    font-size: 1.8rem;
}

.contact-img h2,
.contact-img h3 {
    color: white;
    margin: 0;
    text-align: center;
}

.contact-img h3 {
    padding-top: 10px;
    font-size: 1.2rem;
}

.contact-img div {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e81;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subline {
    font-size: 1.5rem;
    margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.inquiry {
    display: flex;
    justify-content: center;
    width: 100%
}

form input,
form select {
    width: 300px;
    height: 45px;
    margin-bottom: 0px;
    margin-top: 0;
}

form div {
    height: 100%;
}

select:invalid {
    color: #747474;
}

.description {
    width: 100%;
    height: 300px;
}

form textarea {
    width: 100%;
    height: 100%;
}

#submit {
    margin-top: 50px;
    margin-bottom: 50px;
}

.names,
.contact-info,
.inquiry {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 649px) {

    .contact-img h2 {
        font-size: 1.5rem;
    }

    .contact-img h3 {
        font-size: 1rem;
    }

    form {
        align-items: center;
        width: 300px;
    }

    .inquiry {
        justify-content: start;
    }

    .subline {
        font-size: 1rem;
    }

    main h1 {
        font-size: 2.5rem;
    }

    .names,
    .contact-info,
    .inquiry {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px) {

    header {
        padding: 0 20px;
    }

    form input,
    form select,
    form textarea {
    width: 250px;
    }

    .inquiry {
        width: fit-content;
    }

    .description {
        display: flex;
        justify-content: center;
    }
}

.error-message {
    font-size: 12px;
    color: red;
    margin-top: 6px;
    margin-left: 0;
    width: fit-content;
}
